@model List<string>

<div id="accordion">
    <div class="card">
        <div class="card-header" id="Filtry">
            <div class="mb-0 collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne">
                <medium>Dodatkowe informacje</medium>
                <span>
                    <i class="fa fa-info-circle" style="color:dimgray"></i>
                </span>
            </div>
        </div>
        <div id="collapse1" class="collapse" aria-labelledby="Filtry" data-parent="#accordion">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="label1">Data dodania:</span>
                            </div>
                            <input readonly="readonly" type="text" value="@Model[1]" class="form-control" aria-describedby="label1" />
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="label1">Dodał:</span>
                            </div>
                            <input readonly="readonly" type="text" value="@Model[2]" class="form-control" aria-describedby="label1" />
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="label1">Data modyfikacji:</span>
                            </div>
                            <input readonly="readonly" type="text" value="@Model[3]" class="form-control" aria-describedby="label1" />
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="label1">Modyfikował:</span>
                            </div>
                            <input readonly="readonly" type="text" value="@Model[4]" class="form-control" aria-describedby="label1" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>