@model VetClinic.Data.Data.Clinic.ScheduleBlock

@{
    ViewData["Title"] = "Dodaj nowy blok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<form asp-action="Create">

    <div class="form-row">
        @*<div class="form-group col-md-6">
            <label asp-for="Time" class="control-label"></label>*@
        <div class="form-group col-md-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="label1">Czas</span>
                </div>
                <input asp-for="Time" class="form-control" placeholder="Czas" aria-describedby="label1" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
        </div>
        @*<div class="form-group col-md-6">
            <label asp-for="TimeInterval" class="control-label"></label>*@
        <div class="form-group col-md-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="label1">Przedział czasowy</span>
                </div>
                <input asp-for="TimeInterval" class="form-control" placeholder="???" />
                <span asp-validation-for="TimeInterval" class="text-danger"></span>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-row">
        <input type="submit" value="Zapisz" class="btn btn-primary buttMargin" />
        <button type="reset" class="btn btn-danger buttMargin">Resetuj</button>
        <a class="btn btn-outline-primary" role="button" asp-action="Index">
            <span class="fas fa-arrow-circle-left"></span> Wróć do listy
        </a>
    </div>

    @*<div class="form-group">
            <input type="submit" value="Zapisz" class="btn btn-primary" />
        </div>*@
</form>


@*<div>
        <a class="btn btn-outline-primary" role="button" asp-action="Index">
            <span class="fas fa-arrow-circle-left"></span> Wróć do listy
        </a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

