@model VetClinic.Data.Data.Clinic.ScheduleBlock

@{
    ViewData["Title"] = "Usuń blok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<div>


    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-10">
            @Convert.ToString($"{ Model.Time:hh}" + ":" + $"{Model.Time:mm}")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeInterval)
        </dt>
        <dd class="col-sm-10">
            @Convert.ToString($"{ Model.TimeInterval:hh}" + ":" + $"{Model.TimeInterval:mm}")
        </dd>
    </dl>
    </div>
    <hr />
    <div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="ScheduleBlockID" />
            <input type="submit" value="Usuń" class="btn btn-primary  buttMargin" />
            <a class="btn btn-outline-primary" role="button" asp-action="Index">
                <span class="fas fa-arrow-circle-left"></span> Wróć do listy
            </a>
        </form>
    </div>
