@model IEnumerable<VetClinic.Data.Data.Clinic.ScheduleBlock>

@{
    ViewData["Title"] = "Bloki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <a class="btn btn-outline-primary" role="button" aria-haspopup="true" aria-expanded="false" asp-action="Create">
        <i class="fas fa-plus-circle"></i>
        Dodaj
    </a>
</p>
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    Czas
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeInterval)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:right">
                        @Convert.ToString($"{ item.Time:hh}"+":"+$"{item.Time:mm}")
                    </td>
                    <td style="text-align:right">
                        @Convert.ToString($"{ item.TimeInterval:hh}"+":"+$"{item.TimeInterval:mm}")
                    </td>
                    <td>
                        <a class="btn btn-outline-primary btn-sm listButtMargin" role="button" asp-action="Delete" asp-route-id="@item.ScheduleBlockID">
                            <span class="fas fa-trash-alt"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
