@model IEnumerable<VetClinic.Data.Data.Clinic.Permission>

@{
    ViewData["Title"] = "Index";
}


<div class="row">

    <div class="col-sm-6">
        <h1>Lista uprawnień</h1>
    </div>
    <div class="col-sm-6 text-right float-right">
        <a class="btn btn-outline-primary" role="button" aria-haspopup="true" aria-expanded="false" asp-action="Create">
            <i class="fas fa-plus-circle"></i>
            Dodaj
        </a>
        <a class="btn btn-outline-primary" asp-controller="UserTypes" asp-action="Index">
            Powrót
        </a>
    </div>
</div>

<br />
<hr />
<br />
<table class="table col-sm-5 table-hover">
    <thead>
        <tr>
            <th class="text-left">
                Nazwa
            </th>
            <th class="text-center">
                Opis
            </th>
            <th class="text-right"></th>
            <th class="text-right"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-left">
                   @item.Name
                </td>
                <td class="text-center">
                    @item.Description
                </td>
                <td class="text-right">
                    <table class="table-borderless">
                        <tr>
                            <td>
                                <a class="btn btn-outline-primary btn-sm" role="button" asp-action="Edit" asp-route-id="@item.PermissionID">
                                    Edycja
                                </a>
                            </td>
                            <td>

                                <form asp-action="Delete" asp-controller="Permissions" method="post">

                                    <input type="hidden" value="@item.PermissionID" name="id" />
                                    <input type="submit" value="Usun" class="btn btn-danger btn-sm" />
                                </form>

                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        }
    </tbody>
</table>

