@model VetClinic.Data.Data.Clinic.Specialization

@{
    ViewBag.Title = "Nowa specjalizacja";
}


<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="SpecializationID" />
        <div class="form-group col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="label1">Nazwa</span>
                </div>
                <input asp-for="Name" class="form-control" aria-describedby="label1" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="label1">Opis</span>
                </div>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>


    <input type="submit" value="Utwórz specjalizacje" class="btn btn-success float-right buttMargin" />
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
