@model VetClinic.Data.Data.VetClinic.User
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


    <div class="row justify-content-center">

        <div class="card card-signin my-5">
            <div class="card-body">

                <form asp-controller="Login" asp-action="Registration" method="post">
                    @if (ViewBag.Message != null)
                    {
                        <div class="form-control">
                            <div class="col-md-10">@ViewBag.Message</div>
                        </div>
                    }

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="Login">Login</label>
                            <input type="text" class="form-control" asp-for="Login" id="inputLogin" placeholder="MopsikAngielski23 ...">
                            <span asp-validation-for="Login" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Password">Hasło</label>
                            <input type="password" class="form-control" asp-for="Password" id="inputPassword" placeholder="Moje hasło ...">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Password">Powtórz hasło</label>
                            <input type="password" class="form-control" asp-for="Password" id="inputPassword2" placeholder="Powtórz hasło ...">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputEmail">Email</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="kochanyklient@email.com ...">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputName">Imię</label>
                            <input type="text" class="form-control" id="inputName" placeholder="Janek ...">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputSurname">Nazwisko</label>
                            <input type="email" class="form-control" id="inputSurname" placeholder="Kowalski ...">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputAddress">Adres</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="ul.Zwierzowa ... ">
                    </div>

                    <div class="form-group">
                        <label for="inputAddress2">Adres cd.</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Mieszkanie, dom, piętro ...">
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="inputCity">Miasto</label>
                            <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputZip">Kod pocztowy</label>
                            <input type="text" class="form-control" id="inputZip">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Rejestruj</button>
                </form>
            </div>
        </div>
</div>
