@model VetClinic.Data.Data.VetClinic.User
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}



<body>
    <div class="row justify-content-center">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h4 class="card-title text-center font-weight-normal" id="PinkH4">Formularz rejestracji</h4>

                <hr class="my-4">

                <form class="form-signin" asp-controller="Login" asp-action="Registration" method="post">
                    @if (ViewBag.Message != null)
                    {
                        <div class="form-control">
                            <div class="col-md-10">@ViewBag.Message</div>
                        </div>
                    }

                    <div class="form-row">
                        <div class="form-label-group" style="width:100%">
                            <input type="text" id="inputLogin" class="form-control" placeholder="Login">
                            <label for="inputLogin">Login</label>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-label-group">
                            <input type="password" id="inputPassword1" class="form-control" placeholder="Hasło" required>
                            <label for="inputPassword1">Hasło</label>
                        </div>
                        <div class="form-label-group">
                            <input type="password" id="inputPassword2" class="form-control" placeholder="Powtórzone hasło" required>
                            <label for="inputPassword2">Powtórz hasło</label>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-label-group" style="width:100%">
                            <input type="email" id="inputEmail" class="form-control" placeholder="E-mail">
                            <label for="inputEmail">E-mail</label>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-label-group">
                            <input type="text" id="name" class="form-control" placeholder="Imię" required>
                            <label for="name">Imię</label>
                        </div>
                        <div class="form-label-group">
                            <input type="text" id="surname" class="form-control" placeholder="Nazwisko" required>
                            <label for="surname">Nazwisko</label>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-label-group" style="width:61%">
                            <input type="text" id="street" class="form-control" placeholder="Ulica" required>
                            <label for="street">Ulica</label>
                        </div>
                        <div class="form-label-group" style="width:35%">
                            <input type="text" id="streetNo" class="form-control" placeholder="Numer ulicy, domu" required>
                            <label for="streetNo">Nr </label>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-label-group" style="width:61%">
                            <input type="text" id="city" class="form-control" placeholder="Miasto" required>
                            <label for="city">Miasto</label>
                        </div>
                        <div class="form-label-group" style="width:35%">
                            <input type="text" id="PostalCode" class="form-control" placeholder="00-000" required>
                            <label for="PostalCode">Kod</label>
                        </div>
                    </div>

                    <hr class="my-4">

                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Zarejestruj mnie!</button>

                </form>
            </div>

        </div>
    </div>
</body>



