@model VetClinic.Data.Data.Clinic.User
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<body>
    <div id="divReg" class="row justify-content-center">
        <div class="card card-signin my-5">
            <div class="card-body">

                <h4 class="card-title text-center font-weight-normal" id="PinkH4">Formularz rejestracji</h4>
                <hr class="my-4">
                <form class="form-signin" asp-action="Registration" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-row">
                        <div class="form-label-group" style="width:100%">
                            <input asp-for="Email" type="text" id="inputEmail" class="form-control" placeholder="E-mail" required>
                            <label asp-for="Email" for="inputEmail">E-mail</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-label-group">
                            <input asp-for="FirstName" type="text" id="name" class="form-control" placeholder="Imię" required>
                            <label asp-for="FirstName" for="name">Imię</label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-label-group">
                            <input asp-for="LastName" type="text" id="surname" class="form-control" placeholder="Nazwisko" required>
                            <label asp-for="LastName" for="surname">Nazwisko</label>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-label-group" style="width:100%">
                            <input asp-for="Login" type="text" id="inputLogin" class="form-control" placeholder="Login" required>
                            <label asp-for="Login" for="inputLogin">Login</label>
                            <span asp-validation-for="Login" controltoValidate="inputLogin" ErrorMessage="Wymagany!" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-label-group">
                            <input asp-for="Password" type="password" id="inputPassword" name="Password" class="form-control" placeholder="Hasło" required>
                            <label asp-for="Password" for="inputPassword">Hasło</label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-label-group">
                            <input type="password" id="inputConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="Potwierdź hasło" required>
                            <label asp-for="Password" for="inputConfirmPassword">Potwierdź hasło</label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-label-group" style="width:100%">
                            <input asp-for="Phone" type="text" id="inputPhone" class="form-control" placeholder="Numer telefonu" required>
                            <label asp-for="Phone" for="inputPhone">Telefon</label>
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-label-group" style="width:61%">
                            <input asp-for="Street" type="text" id="street" class="form-control" placeholder="Ulica">
                            <label asp-for="Street" for="street">Ulica</label>
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>
                        <div class="form-label-group" style="width:32%">
                            <input asp-for="HouseNumber" type="text" id="streetNo" class="form-control" placeholder="Numer lokalu/domu">
                            <label asp-for="HouseNumber" for="streetNo">Nr </label>
                            <span asp-validation-for="HouseNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-label-group" style="width:61%">
                            <input asp-for="City" type="text" id="city" class="form-control" placeholder="Miasto" required>
                            <label asp-for="City" for="city">Miasto</label>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-label-group" style="width:32%">
                            <input asp-for="PostalCode" type="text" id="PostalCode" class="form-control" placeholder="00-000" required>
                            <label asp-for="PostalCode" for="PostalCode">Kod</label>
                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>
                    </div>

                    <hr class="my-4">

                    <button class="btn btn-lg btn-secondary btn-block text-uppercase" type="submit">Zarejestruj mnie!</button>

                </form>
            </div>

        </div>
    </div>
</body>



