@model VetClinic.Data.Data.VetClinic.User
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="row justify-content-center">
    <div class="card card-signin my-5">
        <div class="card-body">
            <div><h4 id="PinkH4">Formularz rejestracji</h4></div>
            <hr />
            <form class="form-signin" asp-controller="Login" asp-action="Registration" method="post">
                @if (ViewBag.Message != null)
                {
                    <div class="form-control">
                        <div class="col-md-10">@ViewBag.Message</div>
                    </div>
                }

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputLogin">Login</label>
                    <input type="text" class="form-control" id="inputLogin" placeholder="Login">
                </div>
            </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1">Hasło</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Hasło">
                   </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword2">Hasło</label>
                        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Powtórz hasło">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="kochanyklient@email.com ...">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputName">Imię</label>
                        <input type="text" class="form-control" id="inputName" placeholder="Imię">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputSurname">Nazwisko</label>
                        <input type="email" class="form-control" id="inputSurname" placeholder="Nazwisko">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputAddress">Adres</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Ulica">
                </div>

                <div class="form-group">
                    <label for="inputAddress2">Adres cd.</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Numer mieszkania, domu">
                </div>

                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="inputCity">Miasto</label>
                        <input type="text" class="form-control" id="inputCity" placeholder="Miasto">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputZip">Kod pocztowy</label>
                        <input type="text" class="form-control" id="inputZip" placeholder="00-000">
                    </div>
                </div>

                <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase">Rejestruj</button>
            </form>


        </div>
    </div>
</div>
