
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h1>TU BĘDZIE LAYOUT ALE NA RAZIE WERSJA TESTOWA DLA Jacka :)</h1>

<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputLogin">Login</label>
            <input type="text" class="form-control" id="inputLogin" placeholder="MopsikAngielski23 ...">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="kochanyklient@email.com ...">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputName">Imię</label>
            <input type="text" class="form-control" id="inputName" placeholder="Janek ...">
        </div>
        <div class="form-group col-md-6">
            <label for="inputSurname">Nazwisko</label>
            <input type="email" class="form-control" id="inputSurname" placeholder="Kowalski ...">
        </div>
    </div>

    <div class="form-group">
        <label for="inputAddress">Adres</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="ul.Zwierzowa ... ">
    </div>

    <div class="form-group">
        <label for="inputAddress2">Adres cd.</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Mieszkanie, dom, piętro ...">
    </div>

    <div class="form-row">
        <div class="form-group col-md-8">
            <label for="inputCity">Miasto</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
            <label for="inputZip">Kod pocztowy</label>
            <input type="text" class="form-control" id="inputZip">
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Rejestruj</button>
</form>