
@{
    ViewData["Title"] = "ResetPasswordConfirm";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <img class="card-img-top" src="~/images/logo.svg" width="100" height="100" alt="VetClinic">

                            <h4 class="card-title text-center">Gratulacje!</h4>

                                <div>
                                    <label>Twoje hasło zostało zmienione</label>
                                </div>

                                <div lass=" text-center">
                                    <div>
                                        <label>@Html.ActionLink("Przejdź do trony logowania", "Index", "Login")</label>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

