@model VetClinic.Data.Data.VetClinic.User

@{
    ViewData["Title"] = "Create";
}

<h1>Rejestracja</h1>

<h4>Użytkownika</h4>
<hr />


<form asp-action="Create">
    <div class="form-row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-md-4">
            <label>Imię</label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label>Nazwisko</label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-2">
            <label>Ulica/nr</label>
            <input asp-for="HouseNumber" class="form-control" />
            <span asp-validation-for="HouseNumber" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label>Ulica/nr</label>
            <input asp-for="ApartmentNumber" class="form-control" />
            <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label>Ulica/nr</label>
            <input asp-for="Street" class="form-control" />
            <span asp-validation-for="Street" class="text-danger"></span>
        </div>

        <div class="form-group col-md-2">
            <label>Kod poczowy</label>
            <input asp-for="PostalCode" class="form-control" />
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label>Miejscowość</label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-8">
            <label>E-Mail</label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label>Rodzaj użytkownika</label>
            <select asp-for="UserTypeID" class="form-control" asp-items="ViewBag.UserTypeID"></select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Login</label>
            <input asp-for="Login" class="form-control" />
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label>Hasło</label>
            <input readonly="readonly" id="passwordInput" asp-for="Password" class="form-control" />
            <button onclick="generatePassword()" class="btn btn-primary">Generuj hasło</button>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label>Telefon</label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Zapisz" class="btn btn-primary" />
    </div>
</form>

<script>
    function generatePassword() {
        event.preventDefault();
        $.get(
            "/Users/Haslo",
            function (data) {
                document.getElementById("passwordInput").value = data;
            }
        );
    }
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
