@model VetClinic.Data.Data.VetClinic.User
@{
    ViewData["Title"] = "End";
}

    <h5> @ViewBag.Nazwisko dziękujemy za rejestrację.</h5>
    <h5>Na Twój adres mailowy zasały wysłane dane potrzebne do zalogowania się na portal.</h5>
    


