@model VetClinic.Data.Data.Clinic.Patient

@{
    ViewData["Title"] = "CreatePatientFromReservation";
    Layout = "~/Views/Shared/_ClientPanelLayout.cshtml";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePatientFromReservation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientTypeID" class="control-label"></label>
                <select asp-for="PatientTypeID" class="form-control" asp-items="ViewBag.PatientTypeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KennelName" class="control-label"></label>
                <input asp-for="KennelName" class="form-control" />
                <span asp-validation-for="KennelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientNumber" class="control-label"></label>
                <input asp-for="PatientNumber" class="form-control" />
                <span asp-validation-for="PatientNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
<div>
    <a class="btn btn-outline-primary" role="button" asp-controller="Reservation" asp-action="Create">
        <span class="fas fa-arrow-circle-left"></span> Powrót do rezerwacji
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
