@model VetClinic.Data.Data.Clinic.Patient

@{
    ViewData["Title"] = "Dodaj zwierzaka";
    Layout = "~/Views/Shared/_ClientPanelLayout.cshtml";
}

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-md-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="label1">Imię</span>
                </div>
                <input type="text" asp-for="Name" class="form-control" aria-describedby="label1" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group col-md-6">
            <div class="input-group-prepend">
                <span class="input-group-text" id="label1">Rodzaj zwierzaka</span>
                <select class="myselect select2-container .select2-selection--single
                                                        select2-container .select2-selection--single .select2-selection__rendered
                                                        select2-container--default .select2-selection--single .select2-selection__arrow"
                        asp-for="PatientTypeID" asp-items="ViewBag.PatientTypeID" data-width="100%" aria-describedby="label1"></select>
                <span asp-validation-for="PatientTypeID" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group col-md-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="label1">Przydomek hodowlany</span>
                </div>

                <input type="text" asp-for="KennelName" class="form-control" aria-describedby="label1" />
                <span asp-validation-for="KennelName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group col-md-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="label1">Data Ur.</span>
                </div>
                <input type="date" asp-for="BirthDate" class="form-control text-right" aria-describedby="label1" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Opis</span>
                </div>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-outline-primary" role="button" asp-controller="Reservation" asp-action="Create">
                <span class="fas fa-arrow-circle-left"></span> Powrót do rezerwacji
            </a>
        </div>
        <div class="col">
            <input type="submit" value="Zapisz" class="btn btn-success float-right buttMargin" />
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <script>
        $(".myselect").select2();
    </script>
}