@model VetClinic.Data.Data.Clinic.Patient

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_ClientPanelLayout.cshtml";
}



    <div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-left" width="150">
                            Imię
                        </th>
                        <th class="text-left" width="150">
                            Data urodzenia
                        </th>
                        <th class="text-left" width="250">
                            Właściciel
                        </th>
                        <th class="text-left" width="200">
                            Rodzaj
                        </th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td class="text-left">
                                @ViewBag.PatientName
                            </td>
                            <td class="text-left">
                                @ViewBag.BirthDate
                            </td>
                            <td class="text-left">
                                @ViewBag.PatientUserLastname
                            </td>
                            <td>
                                @ViewBag.PatientType
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="PatientID" />
            <input type="submit" value="Usuń" class="btn btn-danger" /> 
        </form>
    </div>
