@model VetClinic.Data.Data.Clinic.InaccessibleDay

@{
    ViewData["Title"] = "Nowy dzień wolny";
}

    <form asp-action="Create">
        <div class="form-row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="label1">Data</span>
                    </div>
                    <input class="form-control" placeholder="Wybierz datę" asp-for="Date" type="text" id="DatePicker" autocomplete="off" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            </div>
        </div>

        <input type="submit" value="Utwórz" class="btn btn-success float-right buttMargin" />
    </form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $.datetimepicker.setLocale('pl');

    $("#DatePicker").datetimepicker({
        timepicker: false,
        format: 'd.m.Y',
        lang: 'pl',
    });
</script>