@model VetClinic.Data.Data.CMS.RecentNews
@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-image">
                <img src="@Url.Content(@Model.Photo)" alt="brak zdjęcia">
                <h3 class="red-text"> @Model.Title</h3>
            </div>
            <div class="card-content">
                <p> @Model.Text</p>
            </div>
        </div>
    </div>
</div>