@model VetClinic.Data.Data.Clinic.PatientType

@{
    ViewData["Title"] = String.Format("Edycja typu pacjenta {0}", Model.Name);
}
<h4>Edytuj:</h4>
<h2>Typ pacjenta</h2>
<hr />
<form asp-action="Edit" enctype="multipart/form-data">
    <div class="form-row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*<div class="row inputGroupMargin col-12">*@
        <input type="hidden" asp-for="PatientTypeID" />
        <div class="form-group col-md-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="label1">Nazwa</span>
                </div>
                <input type="text" asp-for="Name" class="form-control" aria-describedby="label1" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
    </div>
    @*</div>*@
    <div class="form-row">
        @*<div class="row inputGroupMargin col-12">*@
        <div class="form-group col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Opis</span>
                </div>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>

     <div>
        <input type="submit" value="Zapisz zmiany" class="btn btn-success float-right buttMargin" />
    </div>
</form>

@if (Model.IsActive)
{
    <form asp-action="Delete" asp-route-id="@Model.PatientTypeID" onsubmit="alert('Na pewno chcesz usunąć typ pacjenta?')">
        <input type="hidden" asp-for="PatientTypeID" />
        <input type="submit" value="Usuń typ pacjenta" class="btn btn-outline-danger buttMargin" />
    </form>
} 
else
{
<form asp-action="Restore" asp-route-id="@Model.PatientTypeID">
    <input type="hidden" asp-for="PatientTypeID" />
    <input type="submit" value="Przywróć typ pacjenta" class="btn btn-outline-success buttMargin" />
</form>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
