/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

input[name="SearchString"] {
  width: 100% !important;
}

span.login {
  display: block;
  font-size: small;
  color: gray;
}

.card-header {
  cursor: pointer;
}

.generate-pass {
  border-radius: 0 0.25rem 0.25rem 0 !important;
}

.item-not-active {
  background: #b34a4a5e !important;
}

.item-not-active:hover {
  background: #e59595 !important;
}

.item-not-active:hover td {
  background: transparent !important;
}

li.break {
  height: 3px;
  background: #343a40;
  margin: 3px 0;
}

.sidebar .nav-link i {
  width: 27px;
}

table label {
  margin-bottom: 0 !important;
}

.form-group select {
  -webkit-appearance: none;
}

.tox-tinymce {
  width: 100% !important;
}

.select2-container .select2-selection--single {
  height: 38px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block !important;
  padding-left: 8px !important;
  padding-right: 20px !important;
  padding-top: 2px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 26px !important;
  position: absolute !important;
  top: 3px !important;
  right: 1px !important;
  width: 20px !important;
}

.sidebar .nav-item.show > a {
  color: #f37159 !important;
}

.sidebar .nav-item {
  overflow: hidden;
}

.sidebar .nav-item.active .nav-link,
.sidebar .nav-item.active .nav-link:hover {
  background: #f37159 !important;
}

.sidebar .nav-item .nav-link:hover {
  background: #343a40;
}

.dropdown-menu.show {
  margin-bottom: 10px !important;
}

.dropdown-menu {
  margin: 0 !important;
  background: #343a40 !important;
  border-radius: 0;
}

a.dropdown-item {
  color: #909294;
}

.sidebar .nav-item.dropdown .dropdown-toggle::after {
  margin-right: 10px !important;
}

.show-force {
  display: block !important;
}

.show-force > .nav-link {
  cursor: initial;
}

.show-force > .nav-link:hover {
  background: #222529;
}

.show-force > .nav-link:after {
  content: "\f107" !important;
}

.dropdown-menu.show-force {
  margin-bottom: 10px !important;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item.active .nav-link:hover {
  color: #fff !important;
}

.nav-item .dropdown-item b {
  color: #fff;
}

.nav-item .dropdown-divider {
  border-top-color: #202529;
}

.recentNewsCardImg {
  width: 140px;
  height: 150px;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: -5px 5px 30px rgba(0, 0, 0, 0.1), 5px -5px 30px rgba(0, 0, 0, 0.1);
}

.tableCursor td {
  cursor: pointer !important;
}

.cursorPointer {
  cursor: pointer !important;
}

.btnHov {
  color: black !important;
}
.btnHov:hover {
  color: #f3715b !important;
  text-decoration: none;
}

.item-not-active-label {
  color: #b34a4a5e !important;
}

.newsCardImg {
  height: 120px;
  width: 120px;
  border-radius: 62px;
  object-fit: cover;
}

.newsCardLogo {
  height: 120px;
  width: 120px;
}

.giveMeEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
}

.Ellipsis3r {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* number of lines to show */
}
.recentNewsCard {
  height: 311px;
  width: 350px;
  margin: 10px;
}

.recentNewsCardFooter {
  padding-top: 12px;
  padding-bottom: 15px;
}

.NewsImg {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.NewsCardImgCol {
  max-width: 370px !important;
}
/* Dialog potwierdzenie zmiany hasła */

.swal2-styled.swal2-confirm {
  background: #f37159 !important;
  font-size: 1em !important;
}

.swal2-title {
  font-size: 1.2em !important;
  font-weight: 400 !important;
}

.swal2-styled.swal2-confirm:focus {
  box-shadow: none;
}

.swal2-styled.swal2-confirm:active {
  box-shadow: none;
}

.swal2-actions {
  margin: 0.25em auto 0;
}

.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen)
  > .swal2-modal {
  margin: auto;
  width: 400px;
  width: 140px;
  height: 150px;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: -5px 5px 30px rgba(0, 0, 0, 0.1), 5px -5px 30px rgba(0, 0, 0, 0.1);
}

.blockquote {
    padding: 0.5rem 1rem;
    border-left: 0.25rem solid #f37159 !important;
}
    
.ikona
{
    color:black;
}

.akapit {
  color: black;
}

.link {
  color: black;
  text-decoration: none;
  background-color: transparent;
}

    .link:hover {
        color: #f37159 !important;        
        text-decoration: underline;
    }

.kolorKafelka {
  border-color: #f37159 !important;
}

#passwordIcon {
    position: absolute;
    top: 19px;
    right: 12px;
    transition: right 0.2s;
    color: #6c757d
}

#passContainer {
    padding-left: 0px;
    padding-right: 0px;
}

a.dropdown-item i {
    width: 23px;
    text-align: center;
}

.buttMargin2 {
    margin-right: 15px;
}

.rsrvCol {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.rsrvCard {
    text-align: center !important;
    max-width: 300px !important;
}

.rsrvCardBody {
    padding-bottom: 0px !important;
}

#rsrvCardTitle :hover {
    color: #f37159 !important;
    cursor: pointer !important;
}

.rsrvP:hover {
    color: #f37159 !important;
    cursor: pointer !important;
}