@model VetClinic.Data.Data.Clinic.Treatment

@{
    ViewData["Title"] = "Nowy zabieg";
}

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*<div class="row inputGroupMargin col-12">*@
        <div class="form-group col-md-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="label1">Nazwa</span>
                </div>
                <input type="text" asp-for="Name" class="form-control" aria-describedby="label1" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
    </div>
    @*</div>*@
    <div class="form-row">
        @*<div class="row inputGroupMargin col-12">*@
        <div class="form-group col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Opis</span>
                </div>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    @*</div>*@

    <div>
        <input type="submit" value="Utwórz" class="btn btn-success float-right buttMargin" />
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
