@model IEnumerable<VetClinic.Data.Data.Clinic.Treatment>

@{
    ViewData["Title"] = "Zabiegi";
}
<a class="btn btn-outline-success float-right mb-3" role="button" aria-haspopup="true" aria-expanded="false" asp-action="Create">
    <i class="fas fa-plus-circle"></i>
    Dodaj
</a>

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    Nazwa
                </th>
                <th>
                    Opis
                </th>             
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="@(item.IsActive ? "item-active" : "item-not-active" ) tableCursor" onclick="location.href = '@(Url.Action("Edit", "Treatments", new { id = item.TreatmentID }, null))'">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>                  
                </tr>
            }
        </tbody>
    </table>
</div>