@model VetClinic.Data.Data.CMS.RecentNews

@{
    ViewData["Title"] = "Edit";
}

<h4>Edytuj wybrany element:</h4>
<h2>RecentNews</h2>
<hr />

<form asp-action="Edit">
    <div class="form-row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="RecentNewsID"/>

        <div class="form-group col-md-6">
            <label asp-for="LinkTitle" class="control-label"></label>
            <input asp-for="LinkTitle" class="form-control" />
            <span asp-validation-for="LinkTitle" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Text" class="control-label"></label>
        <textarea asp-for="Text" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="Position" class="control-label"></label>
            <input asp-for="Position" class="form-control" />
            <span asp-validation-for="Position" class="text-danger"></span>
        </div>
        @*<div class="form-group col-md-4">
            <label asp-for="Photo" class="control-label"></label>
            <input asp-for="Photo" class="form-control" />
            <span asp-validation-for="Photo" class="text-danger"></span>
        </div>*@
        <div class="form-group col-md-8">
            <label>Zdjęcie</label>
            <input type="file" class="form-control-file" id="file" name="file" />
            <span asp-validation-for="Photo" class="text-danger"></span>
        </div>
    </div>

   

    <div class="form-group">
        <input type="submit" value="Zapisz" class="btn btn-primary" />
    </div>
</form>

<div>
    <a class="btn btn-outline-primary" role="button" asp-action="Index">
        <span class="fas fa-arrow-circle-left"></span> Wróć do listy
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
