@model IEnumerable<VetClinic.Data.Data.CMS.RecentNews>

@{
    ViewData["Title"] = "Aktualności";
}


<div class="row mb-3">
    <div class="col-12">
        <a class="btn btn-outline-success float-right mb-3" role="button" aria-haspopup="true" aria-expanded="false" asp-action="Create">
            <i class="fas fa-plus-circle"></i>
            Dodaj nową aktualność
        </a>
    </div>
</div>

<div class="row" style="text-align: -webkit-center;">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card no-gutters" style="height:200px; width:525px">
                <div class="row" style="align-items:center;padding-top: 8px; height:200px">
                    <div class="col-8">
                        <div class="card-body" style="text-align-last: center;">
                            <a class="btn btn-outline-primary btn-sm" role="button" asp-action="Edit" asp-route-id="@item.RecentNewsID">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-4" style="padding-left:0px;">
                        <div class="card-body" style="padding-left:0px;">
                            @{
                                if (item.Image != null)
                                {
                                    var base64 = Convert.ToBase64String(item.Image);
                                    var imgSrc = String.Format("data:Image/jpeg;base64,{0}", base64);
                                    <img class="card-img recentNewsCardImg" src="@imgSrc" />
                                }
                                else
                                {
                                    <img class="card-img recentNewsCardImg" src="~/images/empty_image.png" />
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    }
</div>
