@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h6 class="display-4">STRONY TREŚĆ JEST WSPANIAŁA TO JEST WSPANIAŁA STRONY TREŚĆ JEST WSPANIAŁA</h6>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">JAK WYŻEJ - STRONA JEST WSPANIAŁA</a>.</p>
        <h6 class="display-4">A jeśli komuś się nie podoba to niech zje snikersa. </h6>
    </div>
