@{
    ViewData["Title"] = "Witaj w VetClinic";
}

<section class="text-center">
    <div class="container">
        <div>
            <h4>
                <span style="color: #f3715b;">Nasza filozofia</span>
                <span style="font-size:-webkit-xxx-large">Lepsze życie zwierząt</span>
            </h4>
            <p>
                Zwierzęta od zawsze stanowiły istotne miejsce w naszym życiu, dlatego z czasem weterynaria stała się nie tylko naszą pasję, ale także sposobem na kontynuowanie rodzinnej tradycji.
            </p>
        </div>
    </div>
</section>
