@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VetClinic.PortalWWW</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/_Layout.css" />
    <!-- fontawesome-->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
            integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
            crossorigin="anonymous"></script>
    <title>VetClinic - Panel Klienta</title>
</head>

<body>
    <!-- NAVBAR ------------------------>
    <nav class="navbar navbar-expand-lg bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <div class="row">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="navbar-brand" href="#">
                                <img src="~/images/logo.svg" width="35" height="35" class="d-inline-block align-top" alt="">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link aWhite" href="#">Link </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link aWhite" href="#">Link </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle aWhite" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Link rozwijany
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <form class="form-inline my-2 my-lg-0">
                <a asp-area="" asp-controller="Login" asp-action="Logout" class="btn secColor my-2 my-sm-0" role="button">Wyloguj</a>
            </form>
        </div>
    </nav>
    <!-- /NAVBAR ------------------------>


    <!-- BANNER PRZEZ STRONĘ No. 1------------------------>
    <figure class="full-width">
        <div class="row-full">
            <img class="img-space" src="~/images/banSmall4.jpg" style="width:100%">
        </div>
    </figure>
    <!-- /BANNER PRZEZ STRONĘ No. 1------------------------>

    <hr class="featurette-divider">

    <!--Treść stron---------------------------------------->
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                @RenderBody()
            </div>
        </div>
    </div>

    <br>
           
    <!-- STOPKA ------------------------>
    <footer class="bg-dark footerPanel">
        <div class="container">
            <br>
            <br>
        </div>
    </footer>
    <!-- /STOPKA ------------------------>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
