@model IEnumerable<VetClinic.Data.Data.CMS.RecentNews>
<div class="section">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">

                <div class="card text-center cardBorderPad">
                    <div class="col-4 mx-auto d-flex justify-content-center flex-wrap cardImagePadding">
                        <img class="card-img-top cardImageLogo" src="~/images/logo.svg" alt="Card image cap">
                    </div>

                    <div class="card-block">
                        <h4 class="card-title">@item.Title</h4>
                        <p class="card-text">@item.Text</p>
                        <button class="center btn secColor">@Html.ActionLink("Wiecej", "Index", "RecentNews", new { id = item.RecentNewsID }, new {@style="color:white;" }) <i class="fa fa-chevron-right"></i></button>
                    </div>
                </div>

            </div>
        }
    </div>
</div>
