@model VetClinic.Data.Data.Clinic.VisitTreatment

@{
    Layout = null;
}

<div class="row">
    <div class="col">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="VisitID" />
                <input type="hidden" name="patientId" id="patientId" value="@ViewBag.patientId" />
            </div>
            <div class="form-row">
                <div class="col-12 mb-2">
                    <div class="input-group-prepend">
                        <select id="myselectTreat" class="myselect select2-container .select2-selection--single select2-container .select2-selection--single .select2-selection__rendered select2-container--default .select2-selection--single .select2-selection__arrow"
                                asp-for="TreatmentID" asp-items="ViewBag.TreatmentID" data-width="100%" aria-describedby="label1">
                        </select>
                        <span asp-validation-for="TreatmentID" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-12" style="text-align:center;">
                    <input type="submit" value="Dodaj do wizyty" class="btn btn-outline-primary" />
                </div>
            </div>
        </form>
    </div>
</div>