@model VetClinic.Data.Data.Clinic.MedicineType

@{
    ViewData["Title"] = "Create";
}

<h4>Dodaj nowy element:</h4>
<h2>RecentNews</h2>
<hr />


<form asp-action="Create">

    <div class="form-row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-md-6">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" placeholder="Tytuł linku" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

    </div> 

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
       <textarea asp-for="Description" class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Tekst aktualności..."></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
        </label>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="AddedDate" class="control-label"></label>
            <input asp-for="AddedDate" class="form-control" />
            <span asp-validation-for="AddedDate" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="UpdatedDate" class="control-label"></label>
            <input asp-for="UpdatedDate" class="form-control" />
            <span asp-validation-for="UpdatedDate" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="AddedUserID" class="control-label"></label>
            <input asp-for="AddedUserID" class="form-control" />
            <span asp-validation-for="AddedUserID" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="UpdatedUserID" class="control-label"></label>
            <input asp-for="UpdatedUserID" class="form-control" />
            <span asp-validation-for="UpdatedUserID" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Zapisz" class="btn btn-primary" />
    </div>
</form>

<div>
    <a class="btn btn-outline-primary" role="button" asp-action="Index">
        <span class="fas fa-arrow-circle-left"></span> Wróć do listy
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

