@model VetClinic.Data.Data.Clinic.Reservation

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime DateOfVisit = Convert.ToDateTime(ViewData["DateOfVisit"]);
}



<h4>Dodaj:</h4>
<h2>Rezerwacja @DateOfVisit.ToString("dd/MM/yyyy, hh:mm")</h2>
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-sm-6">
            <div class="col-md-12">
                <input type="hidden" name="UserID" value="@ViewBag.UserID" />
                <input type="hidden" name="DateOfVisitFromCalendar" value="@DateOfVisit" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @*klient*@
                    <label asp-for="ReservationUserID" class="control-label"></label>
                    <select multiple asp-for="ReservationUserID" class="form-control" asp-items="ViewBag.ReservationUserID"></select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="PatientID" class="control-label"></label>
                    <select asp-for="PatientID" class="form-control" asp-items="ViewBag.PatientID"></select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="7"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>


    </div>
</form>



<div>
    <a asp-action="Index">BACK</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
