
@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Stronka po zalogowaniu, pozostawiam do zagospodarowania grafikowi ;) </h2>
<h1> Hello @ViewBag.Login</h1>