
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ClientPanelLayout.cshtml";
}

<br />
<h5>Tu kalendarz zrobiony przez Kalendarzystę - rezerwacja wizyt </h5>
<img src="~/images/calendar.jpg" alt="kalendarz">
