@model IEnumerable<VetClinic.Data.Data.Clinic.UserType>

@{
    ViewBag.Title = "Grupy Uprawnień";
}

<div class="row">
    <div class="col-sm-6">
        <h1>Grupy uprawnien</h1>
    </div>
    <div class="col-sm-6 float-right">
        <a class="btn btn-outline-primary float-right" asp-action="Details"><i class="fas fa-plus-circle"></i> Nowa Grupa</a>
        <a class="btn btn-outline-primary float-right mr-2" asp-action="Index" asp-controller="Permissions">Uprawniena</a>
    </div>
</div>
<hr />
<div class="justify-content-end" >
    <div class="row col-sm-10">
        @foreach (var item in Model)
        {
            <div class="col-sm-6">
                <div class="card mb-4 border-danger">
                    <div class="card-body">
                        <h3 class="card-title text-right"> @Html.DisplayFor(modelItem => item.Name)</h3>

                        <h6 class="card-title">Opis</h6>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                        <a asp-action="Details" asp-route-id="@item.UserTypeID" class="btn btn-outline-primary">Zarządzaj</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

