@model VetClinic.Data.Data.Clinic.Reservation
@{
    ViewData["Title"] = "Dodaj wizytę z rezerwacji";
}

<div class="row mb-3">
    <div class="col-12">
        <a class="btn btn-outline-success float-left mb-3" role="button" aria-haspopup="true" aria-expanded="false" asp-action="ShowOwnReservation" asp-controller="Reservations">
            Przyjęcia na dziś
        </a>

        <a class="btn btn-outline-success float-right mb-3" role="button" aria-haspopup="true" aria-expanded="false" asp-action="Index" asp-controller="Calendar">
            Kalendarz rezerwacji
        </a>
    </div>
</div>
<form asp-action="AddVisitFromReservation">
    <input type="hidden" asp-for="@Model.PatientID" />
    <input type="hidden" asp-for="@Model.ReservationID" />

    <div class="form-row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*<div class="row inputGroupMargin col-12">*@
        <div class="form-group col-md-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="label1">Lekarz</span>
                </div>
                @if (Convert.ToBoolean(ViewData["CzyLekarz"]))
                {
                    @*<label>@ViewData["ZalogowanyLekarz"]</label>*@
                    <input asp-for="@ViewData["ZalogowanyLekarz"]" class="form-control" aria-describedby="label1" />
                    <span asp-validation-for="ReservationUserID" class="text-danger"></span>
                }
                else
                {
                    <select type="select" asp-for="ReservationUserID" class="form-control" aria-describedby="label1" asp-items="ViewBag.VetName"></select>
                    <span asp-validation-for="ReservationUserID" class="text-danger"></span>
                }
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="label1">Data wizyty</span>
                </div>
                <input asp-for="DateOfVisit" class="form-control" aria-describedby="label1" />
                <span asp-validation-for="DateOfVisit" class="text-danger"></span>
            </div>
        </div>
    </div>
    @*</div>*@
    <div class="form-row">
        @*<div class="row inputGroupMargin col-12">*@
        <div class="form-group col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Opis</span>
                </div>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        @*</div>*@
    </div>
    <div>
        <input type="submit" value="Utwórz wizytę" class="btn btn-success float-right buttMargin" />
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}