@model VetClinic.Data.Data.Clinic.Reservation

@{
    ViewData["Title"] = "Nowa rezerwacja";
    DateTime DateOfVisit = Convert.ToDateTime(ViewData["DateOfVisit"]);
}

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="label1">Klient</span>
        </div>
            <select asp-for="ReservationUserID" class="form-control" asp-items="ViewBag.ReservationUserID"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="label1">Pacjent</span>
        </div>
            <select asp-for="PatientID" class="form-control" asp-items="ViewBag.PatientID"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="label1">Pacjent</span>
        </div>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>



    <input type="hidden" name="DateOfVisitFromCalendar" value="@DateOfVisit" />
    <h4>Data wizyty pobrana z harmonogramu @DateOfVisit.ToString("dd/MM/yyyy, hh:mm") </h4>

    <input type="submit" value="Utwórz rezerwacje" class="btn btn-success float-right buttMargin" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
