@model IEnumerable<VetClinic.Data.Data.Clinic.Reservation>


@{
    ViewData["Title"] = "Przyjęcia na dziś";
}

<a class="btn btn-outline-success mb-3" role="button" aria-haspopup="true" aria-expanded="false" asp-action="Index" asp-controller="Reservations">
    Rezerwacje
</a>

<div class="row" style="justify-content:center">
    <div class="card-deck">
        @foreach (var item in Model)
        {
            <div class="col-lg-3" style="padding-top:10px; padding-bottom:10px;padding-left: 0px;padding-right: 0px;">
                <div class="card" style="text-align:center;">
                    <div class="card-body" style="padding-bottom: 0px;">
                        <h5 class="card-title">
                            <b style="overflow-wrap: normal;">
                                @Convert.ToString(string.Format("{0:dd/MM/yyyy, HH:mm}", item.DateOfVisit))
                            </b>
                        </h5>
                        <p class="card-text"><b>Pacjent: </b><br />@Html.DisplayFor(modelItem => item.Patients.Name)</p>
                        <a class="btn btn-outline-primary  mb-3" role="button" aria-haspopup="true" aria-expanded="false" asp-action="AddVisitFromReservation" asp-route-id="@item.ReservationID" onclick="return true">
                            <i class="fas fa-plus-circle"></i>
                            Utwórz wizytę
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}