@model VetClinic.Data.Data.Clinic.MedicalSpecialization

@{
    ViewData["Title"] = "Delete";
}

<h4>Usuń:</h4>
<h2>Specjalizacja lekarza</h2>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalSpecializationUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalSpecializationUser.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Specialization)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specialization.Name)
        </dd>
    </dl>
    </div>
<hr/>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="MedicalSpecializationID" />
        <input type="submit" value="Usuń" class="btn btn-primary buttMargin" />

        <a class="btn btn-outline-primary" role="button" asp-action="Index">
            <span class="fas fa-arrow-circle-left"></span> Wróć do listy
        </a>
    </form>
</div>
