@model VetClinic.Data.Data.Clinic.MedicalSpecialization

@{
    ViewData["Title"] = "Edit";
}

<h4>Edytuj:</h4>
<h2>Specjalizacja lekarza</h2>
<hr />
<form asp-action="Edit" enctype="multipart/form-data">
    <div class="form-row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="MedicalSpecializationID" />
        <div class="form-group col-md-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="label1">Rodzaj użytkownika</span>
                </div>
                <select type="select" asp-for="UserID" class="form-control" aria-describedby="label1" asp-items="ViewBag.UserID"></select>
            </div>
        </div>
        @*<div class="form-group col-md-6">
            <label asp-for="SpecializationID" class="control-label"></label>*@
        <div class="form-group col-md-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="label1">Rodzaj specjalizacji</span>
                </div>
                <select type="select" asp-for="SpecializationID" class="form-control" aria-describedby="label1" asp-items="ViewBag.SpecializationID"></select>
            </div>
        </div>
    </div>

    @*<div class="form-group">
            <input type="submit" value="Zapisz" class="btn btn-primary" />
        </div*@
    <hr />
    <div class="form-row">
        <input type="submit" value="Zapisz" class="btn btn-primary buttMargin" />
        <button type="reset" class="btn btn-danger buttMargin">Resetuj</button>
        <a class="btn btn-outline-primary" role="button" asp-action="Index">
            <span class="fas fa-arrow-circle-left"></span> Wróć do listy
        </a>
    </div>
</form>
@*<div class="form-group col-md-6">
                <label asp-for="UserID" class="control-label"></label>
                <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID"></select>
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="SpecializationID" class="control-label"></label>
                <select asp-for="SpecializationID" class="form-control" asp-items="ViewBag.SpecializationID"></select>
                <span asp-validation-for="SpecializationID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
            </label>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="AddedDate" class="control-label"></label>
                <input asp-for="AddedDate" class="form-control" />
                <span asp-validation-for="AddedDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="UpdatedDate" class="control-label"></label>
                <input asp-for="UpdatedDate" class="form-control" />
                <span asp-validation-for="UpdatedDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="AddedUserID" class="control-label"></label>
                <select asp-for="AddedUserID" class="form-control" asp-items="ViewBag.AddedUserID"></select>
                <span asp-validation-for="AddedUserID" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="UpdatedUserID" class="control-label"></label>
                <select asp-for="UpdatedUserID" class="form-control" asp-items="ViewBag.UpdatedUserID"></select>
                <span asp-validation-for="UpdatedUserID" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Zapisz" class="btn btn-primary" />
        </div>
    </form>


    <div>
        <a class="btn btn-outline-primary" role="button" asp-action="Index">
            <span class="fas fa-arrow-circle-left"></span> Wróć do listy
        </a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
