@model VetClinic.Data.Helpers.VisitDetails
@{
    ViewData["Title"] = "AddVisit";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#operation').click(function () {
                $("#oper").load("AddOperation/1");
            });
        });
    </script>
</head>
<h3>Dodaj wizytę</h3>

<h5>Szczegóły</h5>
<hr />

<form asp-action="AddVisit">

    <div class="form-row">
        <div class="form-group col-md-8">
            <div class="form-row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-5">
                    <label>Weterynarz</label>
                    <select asp-for="Visit.VetID" class="form-control" asp-items="ViewBag.VetID"></select>
                    <span asp-validation-for="Visit.VetID" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <label>Data wizyty</label>
                    <input asp-for="Visit.DateOfVisit" class="form-control" />
                    <span asp-validation-for="Visit.DateOfVisit" class="text-danger"></span>
                </div>            
            </div>
            <div class="form-row">               
                <div class="form-group col-md-5">
                    <label>Zabieg</label>
                    <select asp-for="Visit.TreatmentID" class="form-control" asp-items="ViewBag.TreatmentID"></select>
                    <span asp-validation-for="Visit.TreatmentID" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label>Opis</label>
                <textarea asp-for="Visit.Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Visit.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </div>
        <div class="form-group col-md-4" id="oper">

        </div>
    </div>
</form>

<div>
    <a class="btn btn-outline-primary" role="button" asp-action="Index">
        <span class="fas fa-arrow-circle-left">Wróć do listy</span>
    </a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


