@model VetClinic.Data.Data.Clinic.Visit
@{
    ViewData["Title"] = "Dodaj wizytę";
}
<div class="row">
    <div class="col">
        <form asp-action="AddVisit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VisitUserID" />
            <input type="hidden" asp-for="PatientID" />
            <input type="hidden" asp-for="VetID" />
            <input type="hidden" asp-for="IsActive" />
            <input type="hidden" asp-for="AddedDate" />
            <input type="hidden" asp-for="UpdatedDate" />
            <input type="hidden" asp-for="AddedUserID" />
            <input type="hidden" asp-for="UpdatedUserID" />
            <input type="hidden" asp-for="TreatmentID" />
            <div class="form-group col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="label1">Data</span>
                    </div>
                    <input asp-for="DateOfVisit" id="DatePicker" type="text" placeholder="Wybierz datę" autocomplete="off" class="form-control text-right"/>
                    <span asp-validation-for="DateOfVisit" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Opis</span>
                    </div>
                    <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group" style="text-align:right">
                <input type="submit" value="Dodaj wizytę" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    $.datetimepicker.setLocale('pl');

    $("#DatePicker").datetimepicker({
        timepicker: false,
        format: 'd.m.Y',
        lang: 'pl'
    });

</script>