@model VetClinic.Data.Data.Clinic.Patient

@{
    ViewData["Title"] = "Create";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
</head>

<style>
      .select2-container .select2-selection--single
    {
        height:38px;
    }

    .select2-container .select2-selection--single .select2-selection__rendered
    {
        display: block;
        padding-left: 8px;
        padding-right: 20px;
        padding-top: 2px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow
    {
        height: 26px;
        position: absolute;
        top: 3px;
        right: 1px;
        width: 20px;
    }
</style>
<h4>Dodaj nowy element:</h4>
<h2>Pacjent</h2>
<hr />

<form asp-action="Create">
    <div class="form-row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-md-6">
            <label asp-for="PatientTypeID" class="control-label"></label>
            <select style="background-color:red" class="myselect select2-container .select2-selection--single
                                                        select2-container .select2-selection--single .select2-selection__rendered
                                                        select2-container--default .select2-selection--single .select2-selection__arrow"
                                                        asp-for="PatientTypeID" asp-items="ViewBag.PatientTypeID" data-width="100%"></select>
            <span asp-validation-for="PatientTypeID" class="text-danger"></span>

        </div>
        <div class="form-group col-md-6">        
            <label>Właściciel</label>
            <div class="row">
                <div class="col-md-6">
                    <input type="hidden" id="PatientUserID" asp-for="PatientUserID" class="form-control" />
                    <input id="daneWlasciciela" type="text" class="form-control" />
                    <span asp-validation-for="PatientUserID" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <button type="button" id="add" class="btn btn-primary w-100">Dodaj</button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" placeholder="Imie" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="BirthDate" class="control-label"></label>
            <input asp-for="BirthDate" class="form-control" placeholder="Data urodzenia" />
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="KennelName" class="control-label"></label>
            <input asp-for="KennelName" class="form-control" placeholder="Przydomek hodowlany" />
            <span asp-validation-for="KennelName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="PatientNumber" class="control-label"></label>
            <div class="row">
                <div class="col-md-6">
                    <input readonly="readonly" id="numberInput" asp-for="PatientNumber" class="form-control" />
                </div>
                <div class="col-md-6">
                    <button onclick="generateNumber()" class="btn btn-primary w-100">Generuj numer</button>
                </div>
                <span asp-validation-for="PatientNumber" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Opis"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Zapisz" class="btn btn-primary" />
    </div>
</form>


<div>
    <a class="btn btn-outline-primary" role="button" asp-action="Index">
        <span class="fas fa-arrow-circle-left"></span> Wróć do listy
    </a>
</div>


<div class="modal fade bd-example-modal-xl" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Wybierz Właściciela</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>

    $(".myselect").select2();


    $('#add').click(function () {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("ChooseOwner","Patients")',

              success: (data) => {
                        $('#exampleModal').find('.modal-body').html(data);
                        $('#exampleModal').modal('show');
                    }

                })
                                });


     function generateNumber() {
        event.preventDefault();
        var buf = new Uint8Array(6);
        window.crypto.getRandomValues(buf);
        document.getElementById("passwordInput").value = btoa(String.fromCharCode.apply(null, buf));
    }
</script>