@model VetClinic.Data.Data.Clinic.Patient

@{
    ViewData["Title"] = "Nowy pacjent";
}


<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*<div class="form-group col-md-6">*@
        @*<label asp-for="PatientTypeID" class="control-label"></label>*@
        <div class="form-group col-md-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="label1">Imię</span>
                </div>
                <input type="text" asp-for="Name" class="form-control" aria-describedby="label1" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group col-md-6">
            <div class="input-group-prepend">
                <span class="input-group-text" id="label1">Typ pacjenta</span>
                <select style="background-color:red" class="myselect select2-container .select2-selection--single
                                                        select2-container .select2-selection--single .select2-selection__rendered
                                                        select2-container--default .select2-selection--single .select2-selection__arrow"
                        asp-for="PatientTypeID" asp-items="ViewBag.PatientTypeID" data-width="100%" aria-describedby="label1"></select>
                <span asp-validation-for="PatientTypeID" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group col-md-6">
            <div class="input-group-prepend">
                <span class="input-group-text" id="label1">Właściciel</span>
                <input type="hidden" id="PatientUserID" asp-for="PatientUserID" class="form-control" aria-describedby="label1" />
                <input id="daneWlasciciela" type="text" asp-for="PatientUser.LastName" class="form-control" />
                <span asp-validation-for="PatientUserID" class="text-danger"></span>
            </div>
        </div>
        @*<div class="col-md-2">
            <button type="button" id="add" class="btn btn-primary w-100">Wybierz</button>
        </div>*@

        <div class="form-group col-md-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="label1">Przy.Hodowlany</span>
                </div>

                <input type="text" asp-for="KennelName" class="form-control" aria-describedby="label1" />
                <span asp-validation-for="KennelName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group col-md-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="label1">Data Ur.</span>
                </div>
                <input type="date" asp-for="BirthDate" class="form-control text-right" aria-describedby="label1" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group col-md-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="label1">Numer pacjenta</span>
                </div>
                @*<label asp-for="PatientNumber" class="control-label"></label>*@
                <input readonly="readonly" asp-for="PatientNumber" class="form-control text-right" aria-describedby="label1" />
                <span asp-validation-for="PatientNumber" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Opis</span>
                </div>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>

    <input type="submit" value="Utwórz" class="btn btn-success float-right buttMargin" />
</form>

<div class="modal fade bd-example-modal-xl" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lista Właścicieli</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

<script>

    $(".myselect").select2();
$('#daneWlasciciela').click(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("ChooseOwner","Patients")',
                success: (data) => {
                    $('#exampleModal').find('.modal-body').html(data);
                    $('#exampleModal').modal('show');
                    $(document).ready(function () {
                        $('#exampleModal').on('hidden.bs.modal', function () {
                            if (typeof (window.name) != 'undefined') {
                                var tr = document.createElement("TR");
                                tr.setAttribute("id", "myTr");
                                document.getElementById("myTable").appendChild(tr);
                                var td = document.createElement("TD");
                                var checkbox = document.createElement('input');
                                checkbox.type = "hidden";
                                checkbox.name = "select_new_user";
                                checkbox.value = window.id;
                                checkbox.id = "notrole_" + window.id;
                                var label = document.createElement('label');
                                label.htmlFor = "newuser_" + window.id;
                                label.appendChild(document.createTextNode(window.name));
                                td.appendChild(checkbox);
                                td.appendChild(label);
                                tr.appendChild(td);
                                document.getElementById("myTable").appendChild(tr);
                                delete window.id;
                                delete window.name;
                            }
                        });
                    });
                }
            })
    });

    @*$('#add').click(function () {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("ChooseOwner","Patients")',

              success: (data) => {
                        $('#exampleModal').find('.modal-body').html(data);
                        $('#exampleModal').modal('show');
                    }

                })
                                });*@

</script>